@page
@model WebApp.Pages.Customers.CreateModel
@{
}


<div>

    <form method="post">

        <input type="hidden" asp-for="@Model.Customer.Id" />
        <input type="hidden" asp-for="@Model.Customer.IsRemoved" />

        <div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.FirstName">Imię</label>
                    <input type="text" asp-for="@Model.Customer.FirstName" class="form-control" />
                    <span asp-validation-for="@Model.Customer.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.LastName">Nazwisko</label>
                    <input type="text" asp-for="@Model.Customer.LastName" class="form-control" />
                    <span asp-validation-for="@Model.Customer.LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.Gender">Płeć</label>
                    <select asp-for="@Model.Customer.Gender" asp-items="Html.GetEnumSelectList<Vavatech.RazorPages.Models.Gender>()" class="form-control">
                        <option value="">Wybierz płeć</option>
                    </select>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.Salary">Salary</label>
                    <input type="text" asp-for="@Model.Customer.Salary" class="form-control" />
                    <span asp-validation-for="@Model.Customer.Salary" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12 col-sm-12">
                    <label asp-for="@Model.Email">Email</label>
                    <input type="text" asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12 col-sm-12">
                    <label asp-for="@Model.Website">Website</label>
                    <input type="text" asp-for="@Model.Website" class="form-control" />
                    <span asp-validation-for="@Model.Website" class="text-danger"></span>
                </div>
            </div>


            <div class="form-row">

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.InvoiceAddress.City">Miejscowość</label>
                    @*<input type="text" asp-for="@Model.Customer.InvoiceAddress.City" class="form-control" />*@

                    <select asp-for="@Model.Customer.InvoiceAddress.City" class="form-control">

                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city">@city</option>
                        }

                    </select>

                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.InvoiceAddress.Street">Ulica</label>
                    <input type="text" asp-for="@Model.Customer.InvoiceAddress.Street" class="form-control" />
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.InvoiceAddress.ZipCode">Kod pocztowy</label>
                    <input type="text" asp-for="@Model.Customer.InvoiceAddress.ZipCode" class="form-control" />
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.InvoiceAddress.Country">Państwo</label>
                    <input type="text" asp-for="@Model.Customer.InvoiceAddress.Country" class="form-control" />
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.ShippedAddress.City">Miejscowość</label>
                    <select asp-for="@Model.Customer.ShippedAddress.City" asp-items="@Model.CityItems" class="form-control"></select>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.ShippedAddress.Street">Ulica</label>
                    <input type="text" asp-for="@Model.Customer.ShippedAddress.Street" class="form-control" />
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.ShippedAddress.ZipCode">Kod pocztowy</label>
                    <input type="text" asp-for="@Model.Customer.ShippedAddress.ZipCode" class="form-control" />
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <label asp-for="@Model.Customer.ShippedAddress.Country">Państwo</label>
                    <input type="text" asp-for="@Model.Customer.ShippedAddress.Country" class="form-control" />
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-12 col-sm-12">
                    <label asp-for="@Model.Customer.CustomerGroup.Id">Grupa klientów</label>
                    @*<select asp-for="@Model.Customer.CustomerGroup.Id" asp-items="@Model.CustomerGroupItems" class="form-control"></select>*@
                    <select asp-for="@Model.Customer.CustomerGroup.Id" asp-items="@Model.CustomerGroupList" class="form-control">
                        <option value="">Wybierz grupę</option>
                    </select>
                </div>
            </div>



            <button type="submit" class="btn btn-success btn-block">Zapisz</button>
        </div>

        @section Scripts {

            <partial name="_ValidationScriptsPartial" />

        }

    </form>


    <form method="post" asp-page-handler="Send" asp-route-id="@Model.Customer.Id">
        <button type="submit" class="btn btn-secondary btn-block">Send</button>
    </form>

</div>