@page
@model WebApp.Pages.Products.IndexModel
@{
}


<table class="table table-hover table-striped table-dark">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kolor</th>
            <th>Rozmiar</th>
            <td>Cena</td>
            <td>Tagi</td>
        </tr>
    </thead>

    <tbody>

        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Color</td>
                <td>@product.Size</td>
                <td>@product.UnitPrice</td>
                <td>
                    <ul class="horizontal">
                        @foreach (var tag in product.Tags)
                        {
                            <li>@tag.Name</li>
                        }
                    </ul>

                </td>
                <td>
                    <div>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@product.Id">Edycja</a>
                    </div>
                </td>
            </tr>

        }


    </tbody>
</table>